<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686966422875-amv6vc9ghu1gorvcg5i59gd1vg8ue0ot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686966422875-amv6vc9ghu1gorvcg5i59gd1vg8ue0ot</string>
	<key>API_KEY</key>
	<string>AIzaSyAiaQxEx2lNEq0Y4YYQiYsIzO7PaMKa0OY</string>
	<key>GCM_SENDER_ID</key>
	<string>686966422875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.starexodus.starApp</string>
	<key>PROJECT_ID</key>
	<string>stardb-317f3</string>
	<key>STORAGE_BUCKET</key>
	<string>stardb-317f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686966422875:ios:e7b54a5442f6b02362ae7e</string>
	<key>DATABASE_URL</key>
	<string>https://stardb-317f3.firebaseio.com</string>
</dict>
</plist>